<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/individual.css" />
    <title>Stock</title>
  </head>
  <body>
    <div class="title">MATCOM Times</div>
    <div class="date"><%=date%></div>
    
    <div class="columns">
      <div>
        <h1><%=data.name%></h1>
        <p><%=data.description%></p>
      
        <img src="/logo.png">
      </div>
      <hr>
      <div>
        <div id="chartContainer" data-stocknum="<%= num %>">
          <div id="chart"></div>
        </div>
      </div>

    
      <div class="date">
        
        <form action="/stock/<%=data.stockNum%>" method="POST">
          <div class="group">
            <input type="number" name="quantity" id="quantity" /><span
              class="highlight"
            ></span
            ><span class="bar"></span>
            <label>Quantity</label>
          </div>
      
          <button type="submit" class="button buttonBlue">
           BUY
            <div class="ripples buttonRipples">
              <span class="ripplesCircle"></span>
            </div>
          </button>
        </form>
        <hr>
        <h2>Current Price:-<br/> <div id="price"> <%=data.price%></div> </h2>
        <hr>
      </div>
      <br/>
      <div class="date">
        <form action="/stock2/<%=data.stockNum%>" method="POST">
          <div class="group">
            <input type="number" name="quantity" id="quantity" /><span
              class="highlight"
            ></span
            ><span class="bar"></span>
            <label>Quantity</label>
          </div>
         
          <button type="submit" class="button buttonBlue">
            SELL
            <div class="ripples buttonRipples">
              <span class="ripplesCircle"></span>
            </div>
          </button>
        </form>
        <h2>Your STOCKS:-</h2> 
      <%if(stocks.length!=0) {for(let i=0; i<stocks.length; i++) 
       
        {%>
          <br/><p><a href="/stock/<%=stocks[i].stockNum%>"><%=stocks[i].name%></a></p><p>Price:- <%=stocks[i].price%></p><p>Quantity:- <%=stocks[i].quantity%></p>
          <% }}%><br/>
      </div>
      
    </div>
    <div class="footer">MATCOM Times</div>
    </body>
    <script src="/individual.js"></script>
    <script src="/bundle.js"></script>
  </body>
</html>
